* {
  margin: 0;
  padding: 0;
}
/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-width: 3px;
    border-color: #931420;
    background-color: #fffded;
}

/* the styles for the header */

header {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background-image:linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%)
}
header img {
	float: left;
    padding-left: 30px;
    padding-right: 30px;
}

header h2 {
    font-size: 170%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

.shadow {
    text-shadow: 1px 1px #800000;
}

/* the styles for the navigation bar */

#nav_menu, #nav_menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
#nav_menu li {
    float: left;
}
#nav_menu li a {
    display: inline-block;
    width: 160px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #800000;
}
#nav_menu .current {
    color: yellow;
}
#nav_menu li ul{
    display: none;
    top: 100%;
    visibility: hidden;
}

#nav_menu li ul li {
    float: none;
}
#nav_menu li:hover > ul, ul li ul:hover {
    visibility: visible;
    display: block;
    position: absolute;
}

#nav_menu::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the section */

section {
    width: 525px;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
section p {
    padding-bottom: .5em;
}
section blockquote {
    padding-right: 2em;
    padding-left: 2em;
    font-style: italic;
}
section ul {
    padding-bottom: .25em;
    padding-left: 1.25em;
}
section li {
    padding-bottom: .35em;
}
section h2, aside h2 {
    font-size: 130%;
    color: black;
    padding-top: .5em;
    padding-bottom: .25em;
}
section h1 {
    color:#800000;
}
section h2 {
    font-size: 115%;
    padding: 0 0 0 0;
}
/* styles for aside */

aside {
    width: 215px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
    clear: left;
}
aside img {
    padding-bottom: 1em;
}
aside h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

/* styles for article */

article h1 {
    font-size: 150%;
    padding-bottom: .25em;
    margin: 0 0 0 0;
}
article {
    padding-top: .5em;
    padding-bottom: .5em;
}
article img {
    float: right;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: .5em .5em .5em .5em;
}
article h2 {
    padding-top: 0;
}
article h3 {
    font-size: 105%;
    padding-bottom: .25em;
}
/* styles for links */

a:focus {
    font-style: italic;
}
a:hover {
    font-style: italic;
}

/* the styles for the footer */

footer {
    background-color: #931420;
    clear: both;
}

footer p {
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}
